### Initializing

In [1]:
# Import relevant modules
import pandas as pd
import scanpy as sc

In [2]:
#Load relevant anndata object that is filtered and normalied (not logged) & has clustering identity information (cell_type/leiden)
adata = sc.read('/Users/jm52/analysis/jm52_dummy/studies/3kpbmc_scanpy/adata_cpdb_norm_notlog.h5ad')
adata

AnnData object with n_obs × n_vars = 2638 × 13714
    obs: 'n_genes', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'cell_type'
    var: 'gene_ids', 'n_cells', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts'

### Prepare cpdb_counts file

In [3]:
#Transpose the adata object to have the cells as columns and genes as rows
df_exp_matrix = adata.T

#Convert the adata object to an arrayed dataframe
df_exp_matrix = pd.DataFrame(df_exp_matrix.X.toarray())

In [4]:
#Set columns IDs to cell name
df_exp_matrix.columns = adata.obs_names

In [5]:
#Set the row IDs (index) to gene names
df_exp_matrix.set_index(adata.var.index, inplace = True)

In [6]:
#Saving the file
df_exp_matrix.to_csv('/Users/jm52/analysis/jm52_dummy/studies/3kpbmc_scanpy/cpdb_counts.txt',sep='\t')

### Prepare cpdb_meta

In [7]:
df_meta = pd.DataFrame(data={'Cell':adata.obs_names, 'cell_type':list(adata.obs['cell_type'])})
df_meta.set_index('Cell', inplace = True)

In [8]:
df_meta.to_csv('/Users/jm52/analysis/jm52_dummy/studies/3kpbmc_scanpy/cpdb_meta.txt', sep='\t')

In [9]:
df_meta.head()

                       cell_type
Cell
AAACATACAACCAC-1           CD8 T
AAACATTGAGCTAC-1               B
AAACATTGATCAGC-1           CD4 T
AAACCGTGCTTCCG-1  CD14 Monocytes
AAACCGTGTATGCG-1              NK