# Initializing

In [8]:
import pandas as pd
import matplotlib as mpl
from ggplot import *

ModuleNotFoundError: No module named 'ggplot'

# Load Data

In [4]:
df = pd.read_csv('/Users/jm52/analysis/jm52_dummy/studies/matfet_cellphonedb/scale.csv')

In [5]:
df.head()

       DataSet  CellNumber  Replicate  Time (mins.secs)  Machine  Method
0  CellPhoneDB          10          1              3.42  Desktop  Normal
1  CellPhoneDB          10          2              1.43  Desktop  Normal
2  CellPhoneDB          10          3              2.50  Desktop  Normal
3       3kPBMC        2638          1             40.36  Desktop  Normal
4       3kPBMC        2638          2             29.56  Desktop  Normal